.checkProduct{
    display: flex;
    margin: 10px 20px;
    background-color: white;
    height: 300px;
    width: 800px;

}
.informations{
  padding-left: 20px;
}

.checkinfo{
    height: 100px;
    font-size: 18px;
    font-weight: 800;
    width: 500px;
}

.checkrate{
  font-size: 25px;
  font-weight: 600;
}
.checkbutton{
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  letter-spacing: 2px;
  padding: 6px 7px;
}
.checkPic{
    object-fit: contain;
    margin-top: 40px;
}
