.thanks > footer {
    position: absolute;
    bottom: 0px;
    background-color: black;
    width: 100%; 
    text-align: center;
    color: white;
    padding: 5px;
    font-size: larger;
    margin: 0px 4px;
}